In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.25-cp36-cp36m-win_amd64.whl (794 kB)
Requirement already satisfied: protobuf>=3.0.0 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from mysql-connector-python) (3.15.6)
Requirement already satisfied: six>=1.9 in c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.11.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.25

WARNING: You are using pip version 21.0.1; however, version 21.1.1 is available.
You should consider upgrading via the 'c:\program files (x86)\microsoft visual studio\shared\anaconda3_64\python.exe -m pip install --upgrade pip' command.

In [16]:
import mysql.connector as connection 

mydb = connection.connect(host="localhost",user="root", passwd="Federer123@?",use_pure=True)

In [17]:
mydb #connect from the python programm to MySql

MySql hierachrchy :


Database Name



Tables---<Holds the actual data

In [18]:
cur = mydb.cursor()

In [19]:
type(cur.execute("show databases"))

NoneType

In [20]:
res = cur.fetchall()#list of databases

In [21]:
res

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [ ]:
for i in res:
    print(i[0])

Create Database

In [ ]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="localhost",user="root", passwd="Federer123@?",use_pure=True) 
    # check if the connection is established 
    query = "create database aymane" 
    cursor = mydb.cursor() #create a cursor to execute queries 
    cursor.execute(query) 
    print("DB created") 
except Exception as e: 
    mydb.close() 
    print(str(e))

In [23]:
cur.execute("create database aymane")

Create Table

In [ ]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="localhost",database = 'aymane',user="root", passwd="Federer123@?",use_pure=True) 
    print(mydb.is_connected())
    query = "create table test(x1 INT(5), x2 VARCHAR(20), x3 DATE)"

In [24]:
 mydb = connection.connect(host="localhost",database = 'aymane',user="root", passwd="Federer123@?",use_pure=True)

In [25]:
mydb.is_connected()

True

In [26]:
cur= mydb.cursor()
cur.execute("create table test(x1 INT(5), x2 VARCHAR(20), x3 DATE)")

In [27]:
mydb.close()

Insert data in the table

In [89]:
 mydb = connection.connect(host="localhost",database = 'aymane',user="root", passwd="Federer123@?",use_pure=True)

In [90]:
cur= mydb.cursor()
cur.execute("insert into test values(43545,'aym','2021-05-15')")

In [35]:
mydb.commit()

In [37]:
cur.execute("insert into test values(34,'anm','2021-05-13')")
cur.execute("insert into test values(345,'aym','2021-05-15')")
cur.execute("insert into test values(56,'aym','2021-05-15')")
cur.execute("insert into test values(789,'aym','2021-05-15')")
cur.execute("insert into test values(9,'aym','2021-05-15')")
cur.execute("insert into test values(10,'aym','2021-05-15')")
cur.execute("insert into test values(3,'aym','2021-05-15')")

In [38]:
mydb.commit()

Fetching data

In [74]:
mydb = connection.connect(host="localhost",database = 'aymane',user="root", passwd="Federer123@?",use_pure=True)

In [75]:
cur= mydb.cursor()

In [66]:
out = cur.execute("select * from test")

In [67]:
cur.fetchall()

[(43545, 'aym', datetime.date(2021, 5, 15)),
 (34, 'anm', datetime.date(2021, 5, 13)),
 (34, 'anm', datetime.date(2021, 5, 13)),
 (43545, 'aym', datetime.date(2021, 5, 15)),
 (34, 'anm', datetime.date(2021, 5, 13)),
 (345, 'aym', datetime.date(2021, 5, 15)),
 (56, 'aym', datetime.date(2021, 5, 15)),
 (789, 'aym', datetime.date(2021, 5, 15)),
 (9, 'aym', datetime.date(2021, 5, 15)),
 (10, 'aym', datetime.date(2021, 5, 15)),
 (3, 'aym', datetime.date(2021, 5, 15))]

In [68]:
result =cur.fetchall()

In [69]:
for i in result:
    print(i)

In [76]:
out1 = cur.execute("select x1,x2 from test")

In [78]:
cur.fetchall()

[(43545, 'aym'),
 (34, 'anm'),
 (34, 'anm'),
 (43545, 'aym'),
 (34, 'anm'),
 (345, 'aym'),
 (56, 'aym'),
 (789, 'aym'),
 (9, 'aym'),
 (10, 'aym'),
 (3, 'aym')]

In [79]:
for i in cur.fetchall():
    print(i)

A clean Database

In [80]:
import pandas as pd

In [81]:
mydb

In [91]:
pd.read_sql("select * from aymane.test", mydb)

       x1   x2          x3
0   43545  aym  2021-05-15
1      34  anm  2021-05-13
2      34  anm  2021-05-13
3   43545  aym  2021-05-15
4      34  anm  2021-05-13
5     345  aym  2021-05-15
6      56  aym  2021-05-15
7     789  aym  2021-05-15
8       9  aym  2021-05-15
9      10  aym  2021-05-15
10      3  aym  2021-05-15
11  43545  aym  2021-05-15

In [85]:
a = pd.read_sql("select x3,x1 from test", mydb)

In [86]:
a

            x3     x1
0   2021-05-15  43545
1   2021-05-13     34
2   2021-05-13     34
3   2021-05-15  43545
4   2021-05-13     34
5   2021-05-15    345
6   2021-05-15     56
7   2021-05-15    789
8   2021-05-15      9
9   2021-05-15     10
10  2021-05-15      3

In [87]:
a.to_sql

<bound method NDFrame.to_sql of             x3     x1
0   2021-05-15  43545
1   2021-05-13     34
2   2021-05-13     34
3   2021-05-15  43545
4   2021-05-13     34
5   2021-05-15    345
6   2021-05-15     56
7   2021-05-15    789
8   2021-05-15      9
9   2021-05-15     10
10  2021-05-15      3>

In [88]:
a.to_csv("mydata.csv")

In [5]:
#Maybe I made a mistake somewhere:
connection.connect(host="localhost",user="rooot", passwd="mysql",use_pure=True)

ProgrammingError: 1045 (28000): Access denied for user 'rooot'@'localhost' (using password: YES)

Hence the exception handling

In [ ]:
import mysql.connector as connection 

try:
    mydb = connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True) 
    # check if the connection is established 
    query = "SHOW DATABASES" 
    cursor = mydb.cursor() #create a cursor to execute queries 
    cursor.execute(query) print(cursor.fetchall()) 
except Exception as e: 
    mydb.close() 
    print(str(e))